@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.collbot-grecaptcha-badge { 
    display: none !important;
  }

  .collbot-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: collbot-wave 1.5s infinite ease-in-out;
  }
  
  .collbot-dot:nth-child(1) {
    animation-delay: 0s;
  }
  
  .collbot-dot:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .collbot-dot:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  @keyframes collbot-wave {
    0%, 100% {
        transform: translateY(0);
        opacity: 0.3;
    }
    50% {
        transform: translateY(-5px);
        opacity: 1;
    }
  
  }
  
  @keyframes collbot-bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  .collbot-bounce {
    animation: bounce 1s infinite;
  }
  
  
  